{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    
  <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
  <script src="{%static 'js/bootstrap.min.bundle.js'%}"></script>
</head>
<body>
<div class="container" style="text-align:justify; padding:15%;" >
    <div class="card">
        <div class="card-title" style="margin-left:10%;">    
            <h2>Choose user type: </h2>
        </div>
        <div class="card-body" style="margin-left:10%;">

            <form action="{% url 'choose_user_type' %}" method="post">
                {% csrf_token %}
                <h4><label><input type="radio" name="user_type" value="client"> Client</label></h4>
                <br>
                <h4><label><input type="radio" name="user_type" value="lawyer"> Lawyer</label></h4>
                <br>
                <h5><button type="submit">Submit</button></h5>
            </form>
        </div>
</div>
</div>
</body>
</html>
