{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <!-- {%include "auth/nav_bar.html"%} -->
    <h2>Choose user type: </h2>
    <form action="{% url 'choose_user_type' %}" method="post">
        {% csrf_token %}
        <label><input type="radio" name="user_type" value="client"> Client</label>
        <br>
        <label><input type="radio" name="user_type" value="lawyer"> Lawyer</label>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
