<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <h2>Signup</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label><input type="radio" name="user_type" value="client"> Client</label>
        <label><input type="radio" name="user_type" value="lawyer"> Lawyer</label>
        <br><br>
        {{ form.as_p }}

        {%if 1%}
        <button type="submit">Sign up</button>
        {%else%}
        <a href><button type="submit">Sign up</button></a>

    </form>
</body>
</html>
