{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select File</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
      <!-- HEADER NAVIGATION BAR  -->
  <div class="card text-left ">
    <div class="card-header ">
      <ul class="nav nav-tabs card-header-tabs justify-content-end"> 
        <li class="nav-item" style="margin-right:20%; font-family:'palatino linotype';">
          <a class="nav-link" href="/" style="display:block; color:#000;">
     
            <h5><i><strong>Lawyer Recommendation System</strong></i>
            </h5>       </a></li>
            <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
            {%if user.is_authenticated%}
            <li class="nav-item">
              <a class="nav-link" href="/lawyer_list">Lawyers for you</a>
            </li>
            {%endif%}
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/account/logout">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/my_profile">Hello {{request.user.username}}</a>
            </li>
          </ul>
      </div>
</div>

<br>
<div class="card text-left w-75" style="margin-left:15%;">
    <div class="col-md-4 mb-4">
        <div class="card" style="width: 85%;">
          <img src="{{lawyer.profile_picture.url}}" class="card-img-center" alt="{%static 'img/blank.jpg'%}">
        </div>
            
        <br><h5 class="card-text"><b>Lawyer chosen:</b><i> {{lawyer.username}}</i></h5>
            <h5 class="card-title">Select a File</h5>
        <form method="post">
            {% csrf_token %}
            <label for="file_id">Select File:</label>
            <select name="file_id" id="file_id">
                {% for file in files %}
                <option value="{{ file.file_id }}">{{file.file_title }}</option>
                {% endfor %}
            </select>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
  
<div class="card text-left justify-content-center">
   
</div>
</body>
</html>
