{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
  <script src="{%static 'js/bootstrap.min.css'%}"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha384-kJ8d6+gt5l8e8e+q5EWJzD1FkN5i/NA99cWXZloEqfY8llOgJm81ol6zFehTJo" crossorigin="anonymous">
    <title>Homepage</title>
</head>
<body>
  
  <!-- HEADER NAVIGATION BAR  -->
  <div class="card text-left ">
        <div class="card-header ">
          <ul class="nav nav-tabs card-header-tabs justify-content-end"> 
            <li class="nav-item" style="margin-right:20%; font-family:'palatino linotype';">
              <a class="nav-link" href="/" style="display:block; color:#000;">
         
                <h5><i><strong>Lawyer Recommendation System</strong></i>
                </h5>       </a></li>
                <li class="nav-item">
                  <a class="nav-link" href="/home">Home</a>
                </li>
                {%if user.is_authenticated%}
                <li class="nav-item">
                  <a class="nav-link" href="/lawyer_list">List of Lawyers</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/acceptedCases">Accepted Cases</a>
                </li>
                {%endif%}
                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/account/logout">Logout</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/my_profile">Hello, {{user.username}}</a>
                </li>
              </ul>
          </div>
          <div class="card-header">
            
            {%for message in messages%}
            <div class="container mt-5">
              <!-- Error message -->
              <div class="alert alert-danger" role="alert">
            <p>{{message}}</p>
          </div>
          </div>
          {%endfor%}

            <h2>Upload File</h2>
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
                <label for="file_title">File Title:</label><br>
                  <input type="text" name="file_title">
      <br>            <label for="file_description">File Description:</label><br>
                  <textarea id="file_description" name="file_description" rows="4" cols="50"></textarea>
<br>                      <label for="filetags">Needed Specialization:</label><br>
                          <select name="filetags" id="filetags">
                            <option value="" selected disabled>Choose a Specialized area</option>
                            <option value="Employment and Labour ">Employment and Labour Lawyer</option>
                            <option value="Business and corporate">Business lawyer(corporate Lawyer)</option>
                            <option value="Family">Family lawyer</option>
                            <option value="Intellectual property">Intellectual property Lawyer</option>
                            <option value="Entertainment">Entertainment Lawyer</option>
                            <option value="Real Estate ">Real Estate Lawyer</option>
                            <option value="Tax">Tax Lawyer</option>
                            <option value="Criminal Defense">Criminal Defense Lawyer</option>
                            <option value="Personal injury">Personal injury lawyer</option>
                            <option value="Bankruptcy">Bankruptcy lawyer</option>
                            <option value="Constitutional">Constitutional lawyer</option>
                          </select>
                    <br><br>
                    <button type="submit">Upload</button>
                  </div>
                </div>
            </form>
          </div>
        </div>
